<br>
<div class="row center">
	<h4 class="header col s12 light">Choose one of our hand-drawn designs</h4>
</div>

	<div class="center">
		<div class="col s12 m6 l3 gallery_img">
			<%= image_tag ("/assets/test-1.jpg"), :class => "materialboxed", :width =>"250" %>
		</div>

		<div class="col s12 m6 l3 gallery_img">
			<%= image_tag ("/assets/test-1.jpg"), :class => "materialboxed", :width =>"250" %>
		</div>
		
		<div class="col s12 m6 l3 gallery_img">
			<%= image_tag ("/assets/test-1.jpg"), :class => "materialboxed", :width =>"250" %>
		</div>

		<div class="col s12 m6 l3 gallery_img">
			<%= image_tag ("/assets/test-1.jpg"), :class => "materialboxed", :width =>"250" %>
		</div>

		<div class="col s12 m6 l3 gallery_img">
			<%= image_tag ("/assets/test-1.jpg"), :class => "materialboxed", :width =>"250" %>
		</div>
		
		<div class="col s12 m6 l3 gallery_img">
			<%= image_tag ("/assets/test-1.jpg"), :class => "materialboxed", :width =>"250" %>
		</div>
	</div>

<div class="container">
	<div class="row center next_button">
		<%= link_to "Next".html_safe, message_input_path, :id => "download-button", :class => "btn-large waves-effect waves-light orange" %>
	</div>
</div>