<section class="intro">
  <div class="section no-pad-bot" id="index-banner">
      <div class="container">
        <br><br>
        <h1 class="header center orange-text">Let them know you care!</h1>
        
        <div class="row center">
          <h5 class="header col s12 light">A handcrafted beautiful postcard with your message inside</h5>
        </div>

        <div class="homepage_img center">
        <%= image_tag ("/assets/12.tif"), :width =>"400" %>
        </div>

        <div class="row center">
          <%= link_to "Try it out".html_safe, gallery_path, :id => "download-button", :class => "btn-large waves-effect waves-light orange" %>
        </div>
        <br><br>

      </div>
  </div>
</section>

  <div class="row center">
      <h4 class="header col s12 light">Why send a Grafficard?</h4>
      <br><br><br><br>
    <ul class="container center" id="double">
      <li class="col s12 m6 l3 homepage_reasons"><%= image_tag ("/assets/14.tif"), :width =>"270" %></li>

      <li class="col s12 m6 l3 homepage_reasons">
        <h5 class="header light left-align"><i class="fa fa-hashtag orange-text"></i> Super easy</h5>
      </li>

      <li class="col s12 m6 l3 homepage_reasons">
        <h5 class="header light left-align"><i class="fa fa-hashtag orange-text"></i> Hand-written message</h5>
      </li>

      <li class="col s12 m6 l3 homepage_reasons">
        <h5 class="header light left-align"><i class="fa fa-hashtag orange-text"></i> Beautiful design</h5>
      </li>

      <li class="col s12 m6 l3 homepage_reasons">
        <h5 class="header light left-align"><i class="fa fa-hashtag orange-text"></i> Sent from your name</h5>
      </li>
    </ul>
  </div>

<br><br><br>

  <div class="page-footer yellow lighten-5">
    <br>
    <div class="row center">
      <h4 class="header col s12 light">How it works</h4>
    </div>
      <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center menu-brown-text"><i class="fa fa-picture-o"></i></h2>
            <h5 class="center">Choose a design</h5>

            <p class="light">We put a lot of love and care into not just drawing postcards but also giving them character. Our designs are simple, clean and hand-drawn with pen and paper, just like in the old days. Take a look at our collection and choose the card you like.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center menu-brown-text"><i class="fa fa-pencil-square-o"></i></h2>
            <h5 class="center">Write your message</h5>

            <p class="light">Put your thinking cap on! Here is where you create a personal message that will trully touch the hearts of those your card will be sent to. We'll make sure your message is beautifully hand-written onto the postcard of your choice.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center menu-brown-text"><i class="fa fa-paper-plane-o"></i></h2>
            <h5 class="center">Give us the address</h5>

            <p class="light">The last thing you need to do is put in the address where you want your postcard to be sent to. We'll take care of the rest. The card of your choice, with your message, hand-written inside, will be sent to the address you put in.</p>
          </div>
        </div>
      </div>

    </div>

    <div class="section">

      <div class="row center">
        <%= link_to "Try it out".html_safe, gallery_path, :id => "download-button", :class => "btn-large waves-effect waves-light orange" %>
      </div> 
    </div>
  </div>
            <div class="section">
            </div> 
  </div>

    <div class="row center">
      <br>
      <h4 class="header col s12 light">How it looks like</h4>
    </div>
    <div class="row center">
        <%= link_to "Try it out".html_safe, gallery_path, :id => "download-button", :class => "btn-large waves-effect waves-light orange" %>
    </div>
    <br>